

.btnDevice
{
	padding: 12px;

}


.btn-group
{
	float: right;
	margin-top:20px; 

}

.btnTop
{
	padding:  7px 0 7px 0;
	margin-left: -1px;
}

.itemPosition
{
  float: right;
  margin-top: 25px;
  margin-right:10px; 
}


.fotFontSize p
{
	font-size: 12px;
	line-height: 10px;
	margin: 3px;
}

.fotFontSize h2 
{

	font-size: 13px;
	font-weight: bold;
}

h1
{
	font-size: 19px;
	font-weight: bold;
}

.navFoot{
	margin:0;
	padding:7px;
}

.navTop
{
   padding-top:0px;
   padding-bottom:5px; 
   margin: 0px;
}

.navTop p
{
	font-size:11.5px; 
}

.progress
{
	border-radius:12px; 
	height:16px; 
	margin-top:15px;
	margin-left:13px;
	padding: 0; 

}

.theme-green .back-bar .pointer{
  width: 20px;
  height: 20px;
 

  
}

.topBtn
{
	margin-left:14px; 
	margin-right:100px; 
}

section
{
	margin-top:185px; 
	
}

.sepSlider
{
	
	margin-bottom: 30px;
	padding-right: 30px;

	
}

.secFontSize h2
{

    font-size: 19px;
	font-weight: bold;
}

.slider-container .back-bar {
  height: 11px;
   border-radius: 12px;
  
}

.slider-container .back-bar .pointer {
	cursor:pointer; 
}

.btn-group>.btn:first-child {
  margin-left: 0;
  margin-right: 13px;
}

  
}