body{
background-color:#fff;
color:#1d559c;
}

.btnSiguiente{
	float:right;
}

.btnDevice
{
	padding: 12px;

}


.btn-group
{
	float: right;
	margin-top:20px; 

}

.btnTop
{
	padding:  7px 0 7px 0;
	margin-left: -1px;
}

.btnSiguinte{
	float: right;
}

.btnUsers{
	margin-right:8px; 
}

.carousel-inner
{
	background: #fff;
	background-color:#fff;
	
}

.carousel-indicators li{
	background-color:#aeaeae; 
	border:#aeaeae;
}

.carousel-indicators .active{
	background-color:#2b84d5; 
	
}


.inputs
{
	margin: 50px;
}

.inputEmail{
	margin-bottom: 297px;
}

.internetInput{
	margin-left:10px;
	margin-bottom: 379px;  
}

.itemPosition
{
  float: right;
  margin-top: 25px;
  margin-right:10px; 
}



.fotFontSize p
{
	color:#fff;
	font-size: 12px;
	line-height: 10px;
	margin: 3px;
}

.fotFontSize h2 
{
    color:#fff;
	font-size: 13px;
	font-weight: bold;
}

h1
{
	font-size: 19px;
	font-weight: bold;
}

.navFoot{
	margin:0;
	padding:7px;
	background-color:#00448c;
}

.navTop
{
   padding-top:0px;
   padding-bottom:5px; 
   margin: 0px;
   background-color:#00448c;
}

.navTop p
{
	font-size:11.5px; 
	color: #fff;
}

.planIdeal{
	margin-top: 10px;
}

.progress
{
	border-radius:12px; 
	height:16px; 
	margin-top:15px;
	margin-left:13px;
	padding: 0; 

}


.theme-green .back-bar .pointer{
  width: 20px;
  height: 20px;
 

  
}

.topBtns{
	margin-left:40px;  
}

.logoTelcel{
	float: right;
	height: auto;
	width: 256px;
}

.topBtn
{
	margin-left:14px; 
	margin-right:100px; 
}

section
{
	margin-top:85px; 
	
}

.sepSlider
{
	
	margin-top:40px; 

	
}

.sepSliderFoto
{
	
	margin-top:25px; 

	
}

.secFontSize h2
{

    font-size: 19px;
	font-weight: bold;
}

.sitioTelcel{
	margin-top:48px; 
}

.slider-container .back-bar {
  height: 11px;
   border-radius: 12px;
  
}

.slider-container .back-bar .pointer {
	cursor:pointer; 
}

.ui-widget-header {
  border: 1px solid #aeaeae ;
  background: #00448c;
  color: #ffffff;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #00448c;
  background: #aeaeae ;
  font-weight: bold;
  color: #1c94c4;
}



.btn-group .btn:first-child {
  margin-left: 0;
  margin-right: 13px;
}
.btnsVideos{
	margin-top: 25px;
	margin-bottom:10px; 
}

.inps{
	margin: 50px;
}



  
}